*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.prelude {
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    max-width: 100%;
    width: 1600px;
    margin: 0 auto;
    background: url(../img/image\ 1.png) no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.25rem 5rem;
    
    height: 5.75rem;
}

.menu {
    width: 2rem;
    height: 2rem;
}

#logo {
    font-family: 'Playfair Display', cursive;
    font-size: 1.75rem;
}

.prelude-content {
    padding: 7.25rem 0 6.5rem 5rem;
}

.slider-tracks {
    width: 7rem;
    height: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.slider-tracks__item {
    width: 2rem;
    height: 4px;
    background: white;
    opacity: .5;
    cursor: pointer;
}

.slider-tracks__item--active {
    opacity: 1;
}

.hero-content {
    width: 44rem;
    height: 23rem;
    margin-bottom: 5rem;
}

.hero-content__title {
    font-family: 'Playfair Display', cursive;
    font-size: 5rem;
    color: white;
    line-height: 6.2rem;
}

.hero-content__subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    margin-top: 1.5rem;
}

.slider-controls--right {
    margin-left: 1.25rem;
}



/* PRIMEIRAS SEÇÕES COM BLOCOS DE TEXTO*/

.section {
    display: block;
    width: 1600px;
    margin: 0 auto;
    padding: 3.75rem 5rem;
}

.section-image {
    
}

.section-content {
    display: flex;
    
}

.section-text {
    width: 36rem;
    color: #0B1D03;
    margin-left: 155px;
}

.section-text__title {
    font-family: 'Playfair Display';
    font-size: 3.6rem;
}

.section-text__subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
}


.section-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.section-text__baixo {
    width: 36rem;
    color: #0B1D03;
    margin-right: 155px;
}

/* BLOCO DOS CAFÉS */

.section-coffee {
    padding: 0 5rem;
    margin-top: 11.5rem;
}

.section-coffee__title {
    font-family: 'Playfair Display';
    font-size: 3.5rem;
    color: #A0996C;
    margin-bottom: 4rem;
}

.section-coffee__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.95rem;
    width: 1400px;
    
}

.section-coffee__box--unity {
    width: 27.6875rem;
    height: 35rem;
    background: #F7F1E6;
    border-radius: 8px;
    padding: 32px;
}

.coffee-box__text {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}

.coffee-box__img {
    display: block;
    margin: 0 auto;
}

.coffee-box__price {
    display: block;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.coffee-box__price--black {
        font-size: 2rem;
        font-weight: 600;
}

.coffee-box__price--gray {
    font-size: 1.5rem;
    color: #969696;
}

.coffe-box__btn {
    width: 23.6875rem;
    height: 4.75rem;
    border-radius: 8px;
    background: #0B1D03;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

/*SEÇÃO DO POPUP*/



/* SEÇÃO DOS ÍCONES E DOS PRODUTOS*/

.section4 {
    padding: 0 5rem;
    margin-top: 7.5rem;
}

.section4-icon {
    display: flex;
    justify-content: space-between;
}

.section4-icon__service {
    width: 16.375rem;
}

.icon__service--img {
    display: block;
    margin: 0 auto;
}

.icon__service--text {
    display: block;
    text-align: center;
    font-family: 'Khula';
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.section4-products {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 4rem;
}

.section4-products__catalog {
    width: 44rem;
    height: 35rem;
    background: url('../img/Rectangle\ 20.png');
}

.section4-products__acessories {
    width: 44rem;
    height: 35rem;
    background: url('../img/Rectangle\ 20\(1\).png');
}

.section4-products__text {
    width: 28.1875rem;
    color: white;
    margin-top: 24.25rem;
    margin-left: 2.5rem;
}

.section4-products__title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.section-products__subtitle {
    font-size: 1.25rem;
}

.section-final {
    padding: 0 5rem;
    margin-top: 10rem;
}

.section-final__content {
    width: 100%;
}

.section-final__title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: #0B1D03;
}

.form {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-cidade {
    width: 28.6875rem;
    height: 4.75rem;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0 1.75rem;
    font-size: 1.25rem;
    background-image: url('../img/Arrow\ Down.png');
    background-repeat: no-repeat;
    background-position: 25rem 1.4rem;
}

.form-cidade::after {
    content: '';
}

.form-endereco {
    width: 59.3125rem;
    height: 4.75rem;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0 1.75rem;
    font-size: 1.25rem;
    background-image: url('../img/Search.png');
    background-repeat: no-repeat;
    background-position: 55rem 1.4rem;
}

.form-endereco::after {
    content: '';
}

.mapa {
    display: block;
    width: 99.99%;
}

.footer {
    background: #F7F1E6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 5rem;
    margin-top: 2.5rem;
}

.footer-logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
}

.footer-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-list__item a {
    text-decoration: none;
    color: black;
    font-family: 'Khula', sans-serif;
    font-size: 1.25rem;
}

.footer ul {
    list-style: none;
}

.footer-social__icon {
    display: flex;
    justify-content: space-between;
}

.footer-final {
    width: 18.75rem;
    height: 2rem;
    margin: 0 auto;
    align-items: center;
    padding: 24px 0;
    
}

.footer-final__designed {
    font-size: 1.25rem;
    margin-right: 8px;
}



