*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.prelude {
    width: 1600px;
    max-width: 100%;
    background: tomato;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: #0B1D03;
    display: flex;
    justify-content: flex-end;
}

.prelude-produto {
    background: white;
    width: 499px;
    height: 316px;
    padding: 48px;
}

.prelude-produto_title {
    font-size: 32px;
    font-weight: 700;
}

.prelude-produto_item {
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 24px;
    margin-top: 16px;
}

.prelude-produto_item--text span {
    display: block;
}

.text-price {
    font-size: 32px;
    font-weight: 700;
}

.text-btn {
    border: none;
    background: none;
    color: #A0996C;
    font-size: 20px;
}

.prelude-form {
    background: white;
    width: 784px;
    padding: 48px;
    align-items: center;
    position: relative;
}

.prelude-form_text {
    margin-bottom: 32px;
}

.form-text_second {
    font-weight: 600;
    color: #969696;
}

.form-text_first {
    font-weight: 600;
    color: #0B1D03;
}

.seta {
    margin: 0 18px;
}

.form input {
    width: 656px;
    height: 76px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: #969696;
    padding: 28px;
    margin-bottom: 24px;
}

.form textarea {
    width: 656px;
    height: 238px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: #969696;
    padding: 28px;
    margin-bottom: 32px;
}

.form-btn {
    width: 656px;
    height: 76px;
    background: #0B1D03;
    border: none;
    border-radius: 4px;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.close {
    position: absolute;
    top: 37px;
    right: 37px;
}